spring.application.name=api_padrao
spring.datasource.url=jdbc:db2://SEU_HOST:50000/SEU_DATABASE
spring.datasource.username=SEU_USUARIO
spring.datasource.password=SUA_SENHA
spring.datasource.driver-class-name=com.ibm.db2.jcc.DB2Driver

# Configurações JPA/Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.DB2Dialect
